<h2 class = "home-sign-up"> We hope you enjoyed playing <%= @deck.category%>!</h2>

<h3 class = "home-sign-up"> Great job! You answered <%=@total_first%> / <%= @deck.cards.count %> cards correctly on the first try! </h3>



<h3 class = "home-sign-up"> You made <%= @round.guesses.count %> <%= first_guess %> overall! </h3>

<h2 class = "home-sign-up"> Would you like to play again? </h2>
<div class = "home-sign-up">
<h3 class = "home-sign-up"><a href = "/decks/<%= @deck.id %>"> Play <%= @deck.category %> again! </a></h3>
</div>

<br>

<div class = "home-sign-up">
<h3><a href = "/"> No, Thanks! </a></h3>
</div>