<link href="../public/css/application.css" rel="stylesheet" type="text/css">
</head>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500italic' rel='stylesheet' type='text/css'>

<div class="stats-container">
  <h1 id="profile-header"><%= session[:user_name] %>'s Profile</h1>
  <div class="stats">
    <p>Username: <%= session[:user_name] %> </p>
    <p>Registered since: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
    <p>Last Seen:<%= @user.updated_at.strftime("%m/%d/%Y") %> </p>
    <p>Rounds played: <%= @user.rounds.all.count %> </p>
<!--     FIXME: logic for guesses breaks, update when fixed.
 -->    <p>Overall accuracy:<%= %> </p>
    <p>Percent correct:<%= %> </p>
    <p>Percent incorrect:<%= %> </p>
  </div>
</div>
