<link href="../public/css/application.css" rel="stylesheet" type="text/css">
</head>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500italic' rel='stylesheet' type='text/css'>

<div class="stats-container">
  <h1 id="profile-header"><%= session[:user_name] %>'s Profile</h1>
  <div class="stats">
    <p>Username: <%= session[:user_name] %> </p>
    <p>Registered since: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
    <p>Last Seen:<%= @user.updated_at.strftime("%m/%d/%Y") %> </p>
    <p>Rounds played: <%= @user.rounds.all.count %> </p>
    <p>Deck name:<% @rounds.each do |round|%>
      <h3><%= round.deck.category  %> </h3>
      <p> Date Played: <%= round.deck.created_at.strftime("%m/%d/%Y") %></p>
      <p> Number of cards in Deck: <%= round.deck.cards.count %> </p>
      <p> First Attempts Correct: <%= round.total_first_guesses %> </p>
      <p> Total Guesses: <%= round.guesses.count %>

    <% end %> </p>
  </div>
</div>


