
<div class="card-content">

<% if @correct %>

<p> You are Wrong! Try again! </p>

<% end %>


<h2>Question:</h2>

<p> <%= @card.question.capitalize %> </p>

<form method = "post" action = "/guesses">

  <input name = "answer" type = "hidden" value = "<%= @card.answer %>"/>
  <input name = "card_id" type = "hidden" value = "<%= @card.id %>"/>


  <select name = "choice" value = "possible_answer">
    <% @card.possible_answers.each do |possible_answer| %>
    <option value = "<%= possible_answer %>"> <%= possible_answer.capitalize %> </option>
    <% end %>
  </select>

  <br>

  <div>
    <input type = "submit" value = "Answer">
  </div>
</form>

<a href = "/round-stats"> Quit </a>